/* 
    Made by Mint teams
    Fascin-Notes
    This file part is from Fascin-Notes

    Updated: 2025-16-11
    License: MIT
*/

.status {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: fixed;
    top: 20.5px;
    right: 18px;
    z-index: 2;
    background-color: var(--theme-bg);
}

#statusText {
    font-family: var(--font-display);
    font-weight: 500;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: hsl(80, 40%, 60%);
    transition: background 0.2s;
}

.dot.saving {
    background: hsl(29, 44%, 56%);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.editable-div {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    padding: 1.4rem 1.2rem;
    font-size: 16px;
    line-height: 1.4;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--font-text);
    transition: border-color 0.2s, box-shadow 0.2s;
    overflow-y: scroll;
}

.editable-div div {
    font-family: var(--font-text);
}

.editable-div h1,
.editable-div h2,
.editable-div h3,
.editable-div h4 {
    font-family: var(--font-display);
    letter-spacing: -0.8px;
    font-weight: 550;
    margin-bottom: 1rem;
    width: 80%;
}

.editable-div h4 {
    letter-spacing: 0;
}

.editable-div blockquote {
    font-family: var(--font-text);
    font-weight: 550;
    line-height: 1.6;
    padding-left: 0.5rem;
    border-left: solid 3px var(--theme-accent);
    color: var(--theme-text-accent);
}

.editable-div ul li {
    position: relative;
    padding-left: 1rem;
    list-style: none;
    background-color: var(--theme-bg);
}

.editable-div ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-4px, -5.5px);
    font-size: 22px;
}

.editable-div ol {
    counter-reset: item;
    padding-left: 0;
}

.editable-div ol li {
    position: relative;
    padding-left: 1rem;
    list-style: none;
    counter-increment: item;
    background-color: var(--theme-bg);
}

.editable-div ol li::marker {
    content: ' ';
}

.editable-div ol li::before {
    content: counter(item) ".";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 550;
}

.editable-div hr {
    border: solid 1px currentColor;
    opacity: 0.4;
}

#autoSaveTextarea::placeholder,
.placeholder {
    color: var(--theme-fg);
    opacity: 0.65;
}

.zoom-controls {
    position: fixed;
    bottom: 1.35rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 3;
}

.textarea-container:hover .zoom-controls {
    opacity: 1;
}

#reset-zoom,
#export-html-btn,
#format-bold,
#format-italic {
    padding: 1.15rem 0.95rem;
    line-height: 0;
    font-size: 13px;
    font-weight: 500;
    border-radius: 100vmax;
    background-color: var(--PrimaryButtonsColors);
    outline: solid 1.5px var(--theme-border);
    width: fit-content;
    display: inline-block;
    text-align: center;
    border: none;
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#format-bold,
#format-italic {
    width: 34px;
}

#reset-zoom:hover,
#export-html-btn:hover,
#format-bold:hover,
#format-italic:hover {
    background-color: var(--theme-accent);
    cursor: pointer;
    color: #000000;
    fill: #000000;
    font-weight: 500;
}

#reset-zoom:hover span {
    color: var(--theme-accent);
    filter: brightness(20%);
}

@media screen and (max-width: 720px) {
    .contentTEXT {
        display: inline-block;
    }
}

@media (max-width: 340px) {
    .contentTEXT {
        left: 17px;
        transform: translateX(0);
    }

    #GotoHomePage {
        display: none;
    }

    .zoom-btn {
        display: none;
    }
}