/* 
    Made by Mint teams
    Fascinate-Note

    Updated: 2025-16-11
    Fork from EssentialAPP
    License: MIT
*/

:where(li, a) {
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@font-face {
    font-family: 'General Sans';
    src: url('../../assets/typefaces/GeneralSans-Variable.woff2') format('woff2-variations');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../assets/typefaces/Manrope-VariableFont_wght.ttf') format('truetype-variations');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('../../assets/typefaces/InterTight-VariableFont_wght.ttf') format('truetype-variations');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anuphan';
    src: url('../../assets/typefaces/Anuphan-VariableFont_wght.ttf') format('truetype-variations');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Theme Colors */
    --theme-bg: hsl(0, 0%, 8%);
    --theme-fg: #ffffff;
    --theme-accent: hsl(120, 7%, 85%);

    --theme-accent-selection: hsl(120, 2.5%, 20%);
    --theme-accent-selection-texts: hsl(120, 12%, 82.5%);

    --theme-text-accent: hsl(0, 20%, 90%);
    --theme-accent-blockquote: hsl(120, 5%, 15%);
    --hover-color: #2a2a2a;
    --theme-border: hsl(0, 0%, 20%);

    --theme-model: hsl(0, 0%, 9.5%);
    --theme-model-border: hsl(0, 0%, 20%);

    --font-primary: "Manrope", "Leelawadee UI", system-ui, sans-serif;
    --font-text: "Inter Tight", "Leelawadee UI", system-ui, sans-serif;
    --font-display: 'General Sans', 'Anuphan', 'system-ui', sans-serif;
    --font-size-base: 14px;
    --line-height: 1.5;

    --transition: cubic-bezier(0.2, 0, 0, 1) 300ms;

    /* Legacy variables */
    --ResetPadding: 0;
    --ResetMargin: 0;
    --ResetBoxSizing: border-box;
    /* Buttons */
    --PrimaryButtonsColors: hsl(0, 0%, 11.25%);
}

::selection {
    background: var(--theme-accent-selection);
    color: var(--theme-accent-selection-texts);
}

/* (default) */
@media (prefers-color-scheme: dark) {
    :root {
        --theme-bg: hsl(0, 0%, 8%);
        --theme-fg: #ffffff;
        --theme-accent: hsl(120, 7%, 85%);
        --hover-color: #2a2a2a;
        --theme-border: hsl(0, 0%, 20%);
        --PrimaryButtonsColors: hsl(0, 0%, 11.25%);
        color-scheme: dark;
        background: var(--theme-bg);
        color: var(--theme-fg);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-bg: #f9f9f9;
        --theme-fg: #0f0f0f;
        --hover-color: #dfdfdf;
        --theme-border: hsl(0, 0%, 80%);
        --theme-accent: hsl(200, 9%, 32%);
        --PrimaryButtonsColors: hsl(50, 10%, 80%);
        --PrimaryButtonsColors: var(--hover-color);
        color-scheme: light;
        background: var(--theme-bg);
        color: var(--theme-fg);
    }
}

* {
    font-family: var(--font-primary);
    padding: var(--ResetPadding);
    margin: var(--ResetMargin);
    box-sizing: var(--ResetBoxSizing);
    -webkit-user-select: none;
    user-select: none;
    transition: 0s;
}

html {
    font-size: var(--font-size-base);
    color: var(--theme-fg);
}

body {
    color: var(--theme-fg);
    line-height: var(--line-height);
    background-color: rgba(0, 0, 0, 0.055);
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}