/* 
    Made by Mint teams
    Fascinate-Note
    This file part is from Fascinate-Note

    Updated: 2025-24-10
    License: MIT
*/

/* Tabbar Styles */

html {
    background-color: transparent !important;
    border-bottom: solid 1px var(--theme-border);
    height: 38px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'system-ui', sans-serif;
}

#tabbar {
    -webkit-app-region: drag;
    display: flex;
    align-items: end;
    height: 38px;
    -webkit-user-select: none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

#addTab {
    padding: 0 0.75rem;
    cursor: pointer;
    font-size: 32px;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    display: flex;

    align-items: center;
    height: calc(38px - 2px);
    border-radius: 4px;

    position: sticky;
    right: 0;
    top: 0;
    z-index: 10;
    opacity: 40%;
    background-color: transparent;
    transform: translate(2.5px, 0px) scale(75%);
}

#addTab:hover {
    opacity: 100%;
    background-color: var(--hover-color);
}

/* 
    body:has(.tab ~ .tab) #addTab {}
    Direct .tab enter to the addTab if you want to style
*/

#tabbar::before {
    content: '';
    display: block;
    width: calc(100% - 60px);

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-size: 13.2px;
    font-weight: 450;
    height: calc(38px - 4px);
    transition:
        flex-grow 300ms cubic-bezier(0.2, 0, 0, 1),
        max-width 300ms cubic-bezier(0.2, 0, 0, 1),
        transform 300ms cubic-bezier(0.2, 0, 0, 1);
    will-change: transform, flex-basis, max-width;
    -webkit-app-region: no-drag;

    flex: 1 1 0;
    min-width: 0;
    max-width: 200px;

    border-right: solid 1.5px transparent;
    border-left: solid 1.5px transparent;
    border-top: solid 1.5px transparent;
    border-radius: 5px 5px 0 0;
}

.tab.active {
    background: var(--theme-bg);
    border-right: solid 1.5px var(--theme-border);
    border-left: solid 1.5px var(--theme-border);
    border-top: solid 1.5px var(--theme-border);
}

.tab:not(.active):hover {
    background-color: var(--hover-color);
}

.tab-title {
    font-family: var(--font-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.tab .close {
    margin-left: 14px;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
    padding-top: 0rem;
    -webkit-app-region: no-drag;
    flex-shrink: 0;
    padding: 0.5rem 0rem;
    opacity: 60%;
}

.tab-close {
    margin-left: 14px;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
    padding-top: 0rem;
    -webkit-app-region: no-drag;
    flex-shrink: 0;
    padding: 0.5rem 0rem;
    opacity: 60%;
}

.tab .close:hover {
    opacity: 100%;
}

/* OS Tabbar Style */

body.darwin #tabbar {
    padding-left: 5.65rem;
    padding-right: 2.5rem;
}

/* body.win32 .tab {
    max-width: calc((100% - 60px) / 1); For full screeb tabs
} */

body.win32 #tabbar {
    padding-left: 0.35rem;
    padding-right: 10.5rem;
}


/* Tab Open Animation */

@keyframes tab-merge-in {
    from {
        opacity: 0;
        /* transform: translateY(30px); */
    }

    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

@keyframes tab-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tab-merge-animation {
    animation: tab-merge-in 300ms cubic-bezier(0.2, 0, 0, 1);
}

.tab-closing-animation {
    animation: tab-close 150ms cubic-bezier(0.2, 0, 0, 1);
}

/* Responsive */
@media screen and (max-width: 720px) {
    #tabbar::before {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 600px) {
    #tabbar::before {
        width: calc(100% - 40px);
    }

    .tab .close {
        margin-left: 8px;
    }
}