/* Tabbar Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'system-ui', sans-serif;
}

#tabbar {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    height: 36px;
    background-color: var(--theme-bg);
    -webkit-user-select: none;
    overflow-x: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    min-width: 120px;
    max-width: 260px;
    height: 100%;
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-app-region: no-drag;
    border-bottom: solid 1px transparent;
}

.tab.active {
    background: var(--PrimaryButtonsColors);
    border-bottom: solid 1px var(--theme-border);
}

.tab:hover {
    filter: brightness(1.2);
}

.tab .close {
    margin-left: 12px;
    font-weight: 200;
    font-size: 24px;
    cursor: pointer;
    padding-top: 0.1rem;
    -webkit-app-region: no-drag;
}

.tab .close:hover {
    color: #ff4444;
}

#addTab {
    margin-left: auto;
    padding: 0 1rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    height: 100%;
    display: flex;
    align-items: center;
}

#addTab:hover {
    filter: brightness(1.2);
}

/* OS Tabbar Style */
body.darwin #tabbar {
    padding-left: 80px;
    width: 100%;
}

body.win32 #tabbar {
    width: 100%;
}

body.linux #tabbar {
    width: 100%;
}

/* Tab Open Animation */

@keyframes tab-merge-in {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tab-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tab-merge-animation {
    animation: tab-merge-in 300ms cubic-bezier(0.2, 0, 0, 1);
}

.tab-closing-animation {
    animation: tab-close 150ms cubic-bezier(0.2, 0, 0, 1);
}

.tab[draggable="true"]:hover {
    cursor: grab;
}

.tab[draggable="true"]:active {
    cursor: grabbing;
}

.tab.dragging {
    opacity: 0.5;
    transform: scale(0.95);
}