/* 
    Made by Mint teams
    Fascin-Notes
    This file part is from Fascin-Notes

    Updated: 2025-24-10
    License: MIT
*/

/* Tabbar Styles */

html {
    background-color: transparent !important;
    border-bottom: solid 1px var(--theme-border);
    height: 38px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'system-ui', sans-serif;
}

#tabbar {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    height: 38px;
    -webkit-user-select: none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

#addTab {
    padding: 0 1rem;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    height: 38px;

    position: sticky;
    right: 0;
    top: 0;
    z-index: 10;
    opacity: 80%;

    background-color: transparent;
    transition: background-color 200ms ease;
}

#addTab:hover {
    opacity: 100%;
}

/* 
    body:has(.tab ~ .tab) #addTab {}
    Direct .tab enter to the addTab if you want to style
*/

#tabbar::before {
    content: '';
    display: block;
    width: calc(100% - 60px);

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    height: calc(38px + 1px);
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-app-region: no-drag;

    flex: 1 1 0;
    min-width: 0;
    max-width: 180px;

    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
}

.tab.active {
    background: var(--theme-bg);
    border-right: solid 1px var(--theme-border);
    border-left: solid 1px var(--theme-border);
}

.tab:not(.active):hover {
    background-color: var(--HoverColor);
}

.tab-title {
    font-family: var(--font-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.tab .close {
    margin-left: 14px;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
    padding-top: 0rem;
    -webkit-app-region: no-drag;
    flex-shrink: 0;
}

.tab .close:hover {
    background-color: var(--HoverColor);
}

/* OS Tabbar Style */

body.darwin #tabbar {
    padding-left: 78px;
    padding-right: 2.5rem;
}

/* body.win32 .tab {
    max-width: calc((100% - 60px) / 1); For full screeb tabs
} */

body.win32 #tabbar {
    padding-right: 11.5rem;
}


/* Tab Open Animation */

@keyframes tab-merge-in {
    from {
        opacity: 0;
        /* transform: translateY(30px); */
    }

    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

@keyframes tab-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tab-merge-animation {
    animation: tab-merge-in 300ms cubic-bezier(0.2, 0, 0, 1);
}

.tab-closing-animation {
    animation: tab-close 300ms cubic-bezier(0.2, 0, 0, 1);
}

/* Responsive */
@media screen and (max-width: 720px) {
    #addTab {
        font-size: 22px;
    }

    #tabbar::before {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 600px) {
    #tabbar::before {
        width: calc(100% - 40px);
    }

    .tab .close {
        margin-left: 8px;
    }
}