.context-menu {
    position: fixed;
    display: none;
    background: var(--ctx-menu-bg);
    backdrop-filter: blur(var(--ctx-menu-blur));
    border-radius: var(--ctx-menu-radius);
    padding: 0.5rem;
    min-width: var(--ctx-menu-min-width);
    box-shadow: var(--ctx-menu-shadow);
    border: var(--theme-border) solid 1px;
    min-width: var(--ctx-menu-min-width);
    z-index: 10000;
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.2, 0.0, 0, 1.0), transform 200ms cubic-bezier(0.2, 0.0, 0, 1.0);
    will-change: transform, opacity, filter, max-height;
}

@keyframes menuAppear {
    0% {
        transform: translateY(-10px) scale(1);
        box-shadow: 0px 24px 38px rgba(0, 0, 0, 0);
    }

    50% {
        transform: translateY(0px) scale(1);
    }

    100% {
        transform: translateY(0) scale(1);
        box-shadow: var(--ctx-menu-shadow);
    }
}

.context-menu.visible {
    display: block;
    opacity: 1;
    animation: menuAppear 600ms cubic-bezier(0.2, 0.0, 0, 1.0) forwards;
    max-height: 500px;
}

.context-menu-item {
    padding: 0.4rem calc(var(--ctx-menu-padding) * 1.15);
    border-radius: var(--ctx-sub-menu-radius);
    transition: 100ms cubic-bezier(0.2, 0.0, 0, 1.0);
    cursor: pointer;
    user-select: none;
    font-family: var(--font-display);
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 13.5px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.context-menu-item:hover {
    background-color: var(--theme-accent);
    color: var(--theme-accent-text);
}

.context-menu-item[data-disabled='true'] .context-menu-shortcut {
    opacity: 100%;
}

.context-menu-item[data-disabled='true'],
.context-menu-item.disabled {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 60%;
}

.context-menu-item[data-disabled='true']:hover,
.context-menu-item.disabled:hover {
    background-color: transparent;
    color: var(--ctx-menu-text);
}

.context-menu-item[data-disabled='true']:hover {
    background-color: transparent;
    color: var(--ctx-menu-text);
}

.context-menu-separator {
    height: 1px;
    background-color: var(--theme-border);
    margin: 0.3rem 0;
}

.context-menu-shortcut {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 50%;
    font-family: JETBRAINSMONO;

    /* display: none; */
}

.context-menu-item.disabled .context-menu-shortcut {
    opacity: 80%;
}

.context-submenu {
    position: absolute;
    top: -0.5rem;
    left: 104%;
    display: none;
    visibility: hidden;
    opacity: 0;

    /* Reuse main menu styles */
    background: var(--ctx-menu-bg);
    backdrop-filter: blur(var(--ctx-menu-blur));
    border-radius: var(--ctx-menu-radius);
    padding: 0.5rem;
    min-width: var(--ctx-menu-min-width);
    box-shadow: var(--ctx-menu-shadow);
    border: var(--theme-border) solid 1px;
    color: var(--theme-fg);
    z-index: 10001;

    transition: opacity 200ms cubic-bezier(0.2, 0.0, 0, 1.0), transform 400ms cubic-bezier(0.2, 0.0, 0, 1.0);
    transform: translateY(-8px);

    max-height: 250px;
    overflow-y: auto;
}

.context-submenu.visible {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* Custom Scrollbar for Submenu */
.context-submenu::-webkit-scrollbar {
    width: 8px;
}

.context-submenu::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--ctx-menu-radius);
}

.context-submenu::-webkit-scrollbar-thumb {
    background-color: var(--theme-border);
    border-radius: 100vmax;
    border: 2px solid var(--ctx-menu-bg);
}

.context-submenu::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-accent);
}