:root {
    --ctx-menu-blur: 8px;

    --ctx-menu-radius: 6px;
    --ctx-sub-menu-radius: 8px;
    --ctx-menu-padding: 8px;
    --ctx-menu-min-width: 190px;

    --ctx-menu-bg: hsla(0, 0%, 8.5%, 0.820);
    --ctx-menu-hover: hsl(0, 0%, 17.5%);
    --ctx-menu-active: hsl(0, 0%, 5%);
    --ctx-menu-text: hsl(0, 0%, 89%);
    --ctx-menu-text-hover: hsl(0, 0%, 100%);

    --ctx-menu-shadow:
        0px 24px 38px hsla(0, 0%, 0%, 0.14),
        0px 9px 46px hsla(0, 0%, 0%, 0.12),
        0px 11px 15px hsla(0, 0%, 0%, 0.20);
}

@media (prefers-color-scheme: light) {
    :root {
        --ctx-menu-bg: hsla(60, 11%, 96%, 0.900);
        --ctx-menu-hover: hsl(40, 15%, 90%);
        --ctx-menu-active: hsl(0, 0%, 91%);
        --ctx-menu-text: hsl(0, 0%, 0%);
        --ctx-menu-text-hover: hsl(0, 0%, 0%);
        --ctx-menu-shadow:
            0px 4px 12px hsla(0, 0%, 0%, 0.06),
            0px 8px 24px hsla(0, 0%, 0%, 0.08),
            0px 16px 32px hsla(0, 0%, 0%, 0.10);
    }
}

.context-menu {
    position: fixed;
    display: none;
    background: var(--ctx-menu-bg);
    backdrop-filter: blur(var(--ctx-menu-blur));
    border-radius: var(--ctx-menu-radius);
    padding: 0.5rem;
    min-width: var(--ctx-menu-min-width);
    box-shadow: var(--ctx-menu-shadow);
    border: var(--theme-border) solid 1px;
    min-width: var(--ctx-menu-min-width);
    z-index: 10000;
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.2, 0.0, 0, 1.0), transform 200ms cubic-bezier(0.2, 0.0, 0, 1.0);
    will-change: transform, opacity, filter, max-height;
}

@keyframes menuAppear {
    0% {
        transform: translateY(-10px) scale(1);
        max-height: 0;
        box-shadow: 0px 24px 38px rgba(0, 0, 0, 0);
    }

    50% {
        transform: translateY(0px) scale(1);
        max-height: 250px;
    }

    100% {
        transform: translateY(0) scale(1);
        max-height: 500px;
        box-shadow: var(--ctx-menu-shadow);
    }
}

.context-menu.visible {
    display: block;
    opacity: 1;
    animation: menuAppear 600ms cubic-bezier(0.2, 0.0, 0, 1.0) forwards;
    max-height: 500px;
}

.context-menu-item {
    padding: 0.4rem calc(var(--ctx-menu-padding) * 1.15);
    border-radius: var(--ctx-sub-menu-radius);
    transition: 100ms cubic-bezier(0.2, 0.0, 0, 1.0);
    cursor: pointer;
    user-select: none;
    font-family: var(--font-display);
    font-weight: 450;
    letter-spacing: -0.2px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.context-menu-item:hover {
    background-color: var(--theme-accent);
    color: var(--theme-accent-text);
    font-weight: 500;
}

.context-menu-item[data-disabled='true'] {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 60%;
}

.context-menu-item[data-disabled='true']:hover {
    background-color: transparent;
    color: var(--ctx-menu-text);
    font-weight: 450;
}

.context-menu-separator {
    height: 1px;
    background-color: var(--theme-border);
    margin: 0.3rem 0;
}