.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-in-out, visibility 220ms ease-in-out;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: var(--theme-model);
    color: var(--theme-fg);
    border: 1.5px solid var(--theme-model-border);
    box-shadow: var(--ctx-menu-shadow);
    margin: auto;
    border-radius: 10px;
    width: 70%;
    max-width: 300px;

    transform: scale(0.95) translateY(-20px);
    transition: transform 220ms ease-in-out;
}

.modal.visible .modal-content {
    transform: scale(1) translateY(-20px);
}

.modal-header {
    position: absolute;
    right: 1.5rem;
    top: 0.7rem;
    z-index: 2;
}

.modal-body {
    position: relative;
}

.close-button {
    background: none;
    border: none;
    font-size: 28px;
    font-weight: 200;
    cursor: pointer;
    opacity: 80%;
}

.close-button:hover,
.close-button:focus {
    opacity: 100%;
}

.modal-body textarea {
    width: 100%;
    padding: 1.35rem 1.25rem;
    height: 260px;
    background-color: transparent;
    border: solid 1px transparent;
    font-weight: 450;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: var(--font-display);
    font-size: 14px;
    resize: none;
}

.modal-body textarea::placeholder {
    color: var(--theme-fg);
    opacity: 70%;
}

.modal-body textarea:hover,
.modal-body textarea:focus {
    outline: none;
}

#find-status-text {
    position: absolute;
    left: 1.5rem;
    bottom: 1.85rem;
    font-family: var(--font-display);
}

.modal-body button {
    padding: 0.5rem 1rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    background-color: var(--PrimaryButtonsColors);
    outline: solid 1px var(--theme-border);
    box-shadow: var(--ctx-menu-shadow);
    border: none;
    border-radius: 100vmax;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-body button:hover {
    background-color: var(--theme-accent);
    color: #000;
}

@media (max-width: 380px) {
    .modal-content {
        width: 100%;
        max-width: 100%;
        height: 100vh;

        border: none;
        box-shadow: none;
        border-radius: 0px;
    }

    .modal {
        background-color: var(--theme-model);
    }

    .modal-body textarea {
        margin-top: 1.5rem;
        height: 100vh;
    }

    .close-button {
        margin-top: 1.5rem;
    }

    .modal-body button {
        bottom: 2rem;
    }
}